<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastel de papas tradicional</title>
    <link rel="stylesheet" href="../styles/styles.css">


</head>
<body>
    <h1 id="pastel1">Pastel de papas tradicional</h1>
    <img height= "200" width="500" src="../img/pastel-papas.jpg" alt="pastel de papas">
    <h2 class="h2h3">Ingredientes</h2>
    <ul><li>1kg. de papas</li>
    <li>1/2kg. de carne picada de ternera</li>
    <li>1 cebolla</li>
    <li>1/2 pimiento morrón</li>
    <li>2 dientes de ajo</li>
    <li>1 cubo de caldo</li>
    <li>ajo en polvo</li>
    <li>pimentón</li>
    <li>25g. de manteca</li>
    <li>1 chorrito de leche</li>
    <li>aceite y (sal a gusto)</li>
    <li>nuez mosacada</li>
    <li>pimienta (a gusto)</li>
    </ul>
    <h2 class="h2h3">Preparacion</h2>
    <iframe width="693" height="390" src="https://www.youtube.com/embed/2dK_dtOMbyg" title="ARGENTINIAN POTATO PIE - #Paulina1Millón (spanish)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <ol><li>Cortar las papas en cubos y ponerlas a hervir con sal.Picar la cebolla, el ajo y el pimiento morrón</li>
    <li>Calentar el aceite en una olla o sartén y sofreir la cebolla, el pimiento y los ajos,Cuando la cebolla está transparente, agregar la carne y sofreirla mientras se deshace con una cuchara.</li>
<li>Salpimentar, agregar la pastilla de caldo, el ajo en polvo, el pimentón y cocer la carne 15min. Una vez que las patatas estén hervidas, hacer en caliente un puré con la manteca y la leche. Salpimentar.</li>
<li>Poner en una fuente para horno una base de puré, agregar por encima la carne (dejar que se entibie un poco) y colocar otra capa de puré. Para distribuirlo, se moja la cuchara con agua fría.Llevar a horno fuerte o gratinador unos 15-20 min. o hasta que la parte de arriba esté crocante.</li>
<li>Puede agregarse al relleno de carne un huevo picado, olivas verdes picadas o pasas de uva.</li>
</ol>
    
</body>
</html>